*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#nav {
    margin: 0;
    padding: 0;
}
#a {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.im {
    height: 400px;
    width: 400px;
    border-radius: 5px;
    margin: 20px;
}
#text {
    letter-spacing: 2px;
    line-height: 1.5;
}
#text::first-letter {
    color: black;
    font-size:60px ;
}
#login {
    border: solid black 2px;
    border-radius: 5px;
    padding:  10px;
}
ul li {
    list-style: none;
    cursor: pointer;
    color: white;
    line-height: 2;
    letter-spacing: 2px;

}
ul li:hover {
    color: dodgerblue;
}
#none {
    margin-top: 20px;
}